<!DOCTYPE html>
{% load staticfiles%}
<html>
<head>
  <link rel="stylesheet" href='{% static "css/index.css" %}'>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script type="text/javascript" src='https://maps.google.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyAz0lOpBpL_AwqSHDVfPepRpaBG9-4u5Jg'>
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <title></title>
</head>
<body>
{% include "navbar.html" %}       
<div class="jumbotron jumbotron-billboard text-center">
  <div class="img"></div>
  <div class="container pt">
    <div class="text-center">
      
    </div>
    <div class="mt-5 text-color">
      <h1>Find the best Restaurants</h1>
    </div>
    <div class="row mx-auto well col-lg-12 mt-5">
      <div class="col-xs-10 pl-0 pr-0">
        <input id="getText" type="text" class="form-control" placeholder="Enter city name...">
        </div>
        <button id = "getMessage" class = "btn btn-success col-xs-2">Search</button>
      </div>
    </div>
  </div>
<div class="container">
  
  <!-- Trigger the modal with a button -->
<!--   <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
 -->
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>



  <div class="container" id="mid-section">
    <div>
      <div class = "message col-md-12"></div>
    </div>
  </div>
  <hr>
<script type="text/javascript">
        window.onload = function () {
        console.log('window loaded')
        var input = document.getElementById('getText');
        var options = {
          types: ['(cities)'],
          componentRestrictions: {
            country: "in"}
        };
        var autocomplete = new google.maps.places.Autocomplete(input,options);
        autocomplete.addListener('place_changed', function() {
          var place = autocomplete.getPlace();
          if (!place.geometry) {
            window.alert("No details available for input: '" + place.name + "'");
            return;
          }
        }
                                );
      }
</script>
<script type="text/javascript">
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    }
});


$(document).ready(function() {
  let start = 0;
let count = 10;
  // var html = "";

  // $('#mid-section').empty();
  const midSection = document.querySelector('#mid-section');
 $("#getMessage").on("click", function() {

  var valueSearchBox = $('#getText').val()
  if (valueSearchBox === "") {
   return;
  }
  select();
 });
 //--------------------------------------------------SEARCH BY CITY-----------------------------------------

 function select() {


  var valueSearchBox = $('#getText').val()
$.ajax({
    "type": "POST",
    "dataType": "json",
    "url": "/searchrestos/",
    "data": {"city":valueSearchBox,"start":start,"count":count},
    "beforeSend": function(xhr, settings) {
        console.log("Before Send");
        $.ajaxSettings.beforeSend(xhr, settings);
    },
    "success": function(data) {
        flag=data['flag'];
        if(flag=="zom")
        {

          const db=data['db']
          console.log(db==1)  
          if(db==1){
          data=data['data'];}
          else{
            data=data['data'][0];
            data=data.restaurants;
          }
            var html = "";
          
          console.log("sadfasd",db)

   $.each(data, function(index, value) {
    if (db==1){var x = data;}
    else{var x = data[index];}
    $.each(x, function(index, value) {
      if(db==1)
      {
      value=value.data
     var location = value.location;
     var userRating =value.user_rating;
      }
      else{
      var location = x.restaurant.location;
     var userRating = x.restaurant.user_rating;
      }
     
     $(".modal-title").html(value.name);

     html += "<div class='data img-rounded'>";
     html += "<div class='rating'>";

     html += "<span title='" + userRating.rating_text + "'><p style='color:white;background-color:#" + userRating.rating_color + ";border-radius:4px;border:none;padding:2px 10px 2px 10px;text-align: center;text-decoration:none;display:inline-block;font-size:16px;float:right;'><strong>" + userRating.aggregate_rating + "</strong></p></span><br>";
     html += "  <strong class='text-info'>" + userRating.votes + " votes</strong>";
     html += "</div>";
     html += "<img class='resimg img-rounded' src=" + value.thumb + " alt='Restaurant Image' height='185' width='185'>";
     // html+="<button type='button' data-toggle='modal' data-target='#myModal'>Open Modal</button>"
     html += "<a type='button' data-toggle='modal' data-target='#myModal'><h2 style='color:red;'><strong>" + value.name + "</strong></h2></a>";
     html += "  <strong class='text-primary'>" + location.locality + "</strong><br>";
     html += "  <h6 style='color:grey;'><strong>" + location.address + "</strong></h6><hr>";
     html += "  <strong>CUISINES</strong>: " + value.cuisines + "<br>";
     html += "  <strong>COST FOR TWO</strong>: " + value.currency + value.average_cost_for_two + "<br>";
     html += "</div><br>";
    });
  
   });
   midSection.insertAdjacentHTML('beforeend', html);
}

        if(flag=="google")
        {
          data=data['data'][0];
          console.log('google wala',data);

          var html = " ";

   $.each(data, function(index, value) {
    console.log(index,value)
     html += "<div class='data img-rounded'>";
     html += "<div class='rating'>";

     html += "<span title='" + value.rating + "'><p style='color:white;background-color:green"+";border-radius:4px;border:none;padding:2px 10px 2px 10px;text-align: center;text-decoration:none;display:inline-block;font-size:16px;float:right;'><strong>" + value.rating + "</strong></p></span><br>";
     html += "  <strong class='text-info'>" + value.user_ratings_total + " votes</strong>";
     html += "</div>";
     html += "<img class='resimg img-rounded' src=" + value.icon + " alt='Restaurant Image' height='150' width='150'>";
     html += "<a href=" + '#' + " target='_blank' class='action_link'><h2 style='color:red;'><strong>" + value.name + "</strong></h2></a>";

     html += "  <strong class='text-primary'>" + value.plus_code.compound_code.slice(7) + "</strong><br>";
     html += "  <h6 style='color:grey;'><strong>" + value.formatted_address + "</strong></h6><hr>";
     html += "</div><br>";
    // });
//.slice(0,value.formatted_address.indexOf(inp))
  
   });
   $(".message").html(html);

       }

   
   console.log('final',data)

   
   $(".message").html(html);
  }
});
      start = count;
      count += 10;


 }
 //--------------------------------------------------------------------------------------------------------
 const scrollMe = document.querySelector('body');
scrollMe.onscroll = function () {
  if ($(window).scrollTop() >= $(document).height() - $(window).height() - 10)
 {
    select();
    console.log("ssssssssssss",start,count);
  }
}


 $("#select_id").change(function() {
  select();
 });
});
</script>


</body>
</html>