<!DOCTYPE html>
<html>
<head>
	   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<title>Restos</title>
  <style type="text/css">
    .list-group{
    max-height: 400px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

  </style>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">FindUs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Search <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/loc/">locate</a>
      </li>
    </ul>
  </div>
</nav>



<div id="warning" class="feedback alert alert-danger text-center text-capitalize" style="visibility:hidden;">Try For shorter Distance or Reload the page!</div>

	<div class="container-fluid">
  <center><h1> Restaurants  in {{city}}</h1></center>
  <p>All restaurants in {{city}} in the radius of {{radius}} meters</p>
  <div class="row">
    <div class="col-sm-3 col-md-6 col-lg-4">
      <div class="panel panel-primary" id="result_panel">    
    <div class="panel-body">
        <ul class="list-group">
          {% for i in upload_response%}
           <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{i.name}}</h5>
      <small>{{i.rating}}</small>
    </div>  
    <p class="mb-1">{{i.address}}</p>
  </a>
  {% endfor %}
        </ul>
    </div>
</div>

    </div>
    <div class="col-sm-9 col-md-6 col-lg-8">
<div id="googleMap" style="height:400px;width:100%"></div>
    </div>
  </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz0lOpBpL_AwqSHDVfPepRpaBG9-4u5Jg"></script>

<script type="text/javascript">
  var count="{{count}}"
  console.log(count)
  if (count==0){
    document.getElementById("warning").style.visibility = "Visible";
  }

  var schools = [];
  {% for i in upload_response%}
  var restoname="{{i.name}}"+" {{i.rating}} "  
  var rating="{{i.rating}}"

  schools.push([restoname,{{i.latitude}},{{i.longitude}}])
  
  {% endfor %}

console.log(document.getElementById('googleMap'));
var map = new google.maps.Map(document.getElementById('googleMap'), {
  zoom: 13,
  center: new google.maps.LatLng({{lat}},{{lon}}),
  mapTypeId: google.maps.MapTypeId.ROADMAP
});

var infowindow = new google.maps.InfoWindow();

var marker, i;
var markers = [];

for (i = 0; i < schools.length; i++) {  
  marker = new google.maps.Marker({
    position: new google.maps.LatLng(schools[i][1], schools[i][2]),
    map: map
  });

  markers.push(marker);

  google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
    return function() {
      infowindow.setContent(schools[i][0]);
      infowindow.open(map, marker);
    }
  })(marker, i));
}

// source from https://jsfiddle.net/6tyavn93/
</script>
</body>
</html>